---
name: Check new exporter releases

on:
  schedule:
    - cron: "15 8,16 * * *"

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  check_new_releases:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup python environment
        uses: actions/setup-python@v6
        with:
          python-version: "3.11"

      - name: Install Python dependencies
        run: pip install ruamel.yaml PyGithub packaging

      - name: Run script to update auto package versions
        run: python update_templating_versions.py
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Enable auto-merge for PRs created by this workflow
        if: github.actor == 'github-actions[bot]'
        uses: peter-evans/enable-pull-request-automerge@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          merge_method: squash
